<div class="d-flex justify-content-center flex-column container">
    <div class="font-weight-bold m-3">Update Holiday</div>
    <form class="d-flex flex-column">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description">
        </mat-form-field>

        <mat-form-field>    
            <input matInput required [matDatepicker]="picker1" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year"></mat-datepicker>
        </mat-form-field>

        <button mat-button type="submit" class="submit-button" cdkFocusInitial>Add</button>
    </form>
    
</div>

