<div class="login-box">
    <div class="logo-div">
        <img src="https://vlab.apps.binus.ac.id/images/ribbon.png" alt="" class="img-ribbon">
        <img src="https://vlab.apps.binus.ac.id/images/logo.svg" alt="" class="img-logo">
    </div>
    <div class="content">
        <div>
            <h2>AM.SLC.NET</h2>
            <p>
                Login to your account
            </p>
        </div>
        <form action="" method="post">
            <div class="part">
                <label for="">Username</label>
                <br>
                <input type="text" name="" id="">
            </div>
            <div class="part">
                <label for="">Password</label>
                <br>
                <input type="password" name="" id="">
            </div>
            <div class="part">
                <input type="submit" class="submit-button" value="Login">
            </div>
        </form>
    </div>
</div>