$dark-grey:#676767;
$shadow-color: #888888;
$theme-color: rgb(0, 115, 255);
.login-box {
    // border: solid $dark-grey 1px;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    // box-shadow: 3px 3px $shadow-color;
}

.login-box .logo-box {
    height: 40%;
}

.login-box .content {
    padding: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box .content .part {
    padding-top: 15px;
}

input {
    width: 300px;
    padding: 5px 5px;
    border-radius: 3px;
}

.submit-button {
    width: 310px;
    color: white;
    background-color: rgb(0, 115, 255);
    border-radius: 12px;
}

mat-form-field {
    width: 310px;
}

h2 {
    padding: 0;
    margin: 0;
}

p {
    color: $shadow-color;
    margin: 0;
    padding: 0;
}

.img-ribbon {
    padding-left: 20px;
}

.img-logo {
    height: 75px;
    padding: 15px;
}