<div class="login-box">
    <div class="logo-div">
        <img src="/src/assets/ribbon.png" alt="" class="img-ribbon">
        <img src="/src/assets/logo.svg" alt="" class="img-logo">
    </div>
    <div class="content">
        <div>
            <h2>AM.SLC.NET</h2>
            <p>
                Login to your account
            </p>
        </div>
        <form action="" method="post">
            <div class="part">
                <mat-form-field appearance="fill">
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput placeholder="Username">
                </mat-form-field>
            </div>
            <div class="part">
                <mat-form-field appearance="fill">
                    <mat-icon matSuffix>lock</mat-icon>
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div class="part">
                <input type="submit" class="submit-button" value="Login">
            </div>
        </form>
    </div>
</div>