<div class="page">
    <div class="login-box">
        <div class="logo-div">
            <img src="/assets/ribbon.png" alt="" class="img-ribbon">
            <img src="/assets/logo.svg" alt="" class="img-logo">
        </div>
        <div class="content">
            <div>
                <h2>AM.SLC.NET</h2>
                <p>
                    Login to your account
                </p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                <div class="part form-group">
                    <mat-form-field appearance="fill">
                        <mat-icon matSuffix>person</mat-icon>
                        <input matInput placeholder="Username" id="txtUsername">
                    </mat-form-field>
                </div>
                <div class="part form-group">
                    <mat-form-field appearance="fill">
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput placeholder="Password" type="password" id="txtPassword">
                    </mat-form-field>
                </div>
                <div class="part form-group">
                    <input type="submit" class="submit-button" value="Login" >
                </div>
            </form>
        </div>
    </div>
</div>