$theme-color: rgb(0, 115, 255);
.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $theme-color;
}

h2 {
    color: white;
}