<div class="big-container">
    <div class="logo-div">
        <img src="/assets/ribbon.png" alt="" class="img-ribbon">
        <img src="/assets/logo.svg" alt="" class="img-logo">
    </div>

    <div class="welcome-div">
        <div class="welcome-text">
            Hi, Dummy
        </div>
        <div>
            <mat-form-field appearance="fill" class="period-selection">
                <mat-label>Period</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of selection" [value]="item.value">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>