<div class="big-container">
    <div class="logo-div">
        <img src="/assets/ribbon.png" alt="" class="img-ribbon">
        <img src="/assets/logo.svg" alt="" class="img-logo">
    </div>

    <div class="welcome-div">
        <div class="welcome-text">
            Hi, Dummy
        </div>
        <div>
            <mat-form-field class="period-selection">
                <mat-label>Period</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let item of selection" [value]="item.value">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="small-container">
    <div class="navbar">
        <button mat-button [matMenuTriggerFor]="manage">
            <div class="link">
                Manage
            </div>
        </button>
        <mat-menu #manage="matMenu">
            <button mat-menu-item routerLink="/home/manage/period" routerLinkActive="active">Period</button>
            <button mat-menu-item routerLink="/home/manage/leader" routerLinkActive="active">Leader</button>
            <button mat-menu-item routerLink="/home/manage/assistant" routerLinkActive="active">Assistant</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="ast">
            <div class="link">
                Assistant Management
            </div>
        </button>
        <mat-menu #ast="matMenu">
            <button mat-menu-item routerLink="/home/assistant-management/work-shift" routerLinkActive="active">Work Shift</button>
            <button mat-menu-item routerLink="/home/assistant-management/holiday" routerLinkActive="active">Holiday</button>
            <button mat-menu-item routerLink="/home/assistant-management/special-shift" routerLinkActive="active">Special Shift</button>
            <button mat-menu-item routerLink="/home/assistant-management/attendance" routerLinkActive="active">Attendance</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="report">
            <div class="link">
                Report
            </div>
        </button>
        <mat-menu #report="matMenu">
            <button mat-menu-item routerLink="/home/report/attendance" routerLinkActive="active">Attendance</button>
            <button mat-menu-item routerLink="/home/report/summary" routerLinkActive="active">Summary</button>
        </mat-menu>
    </div>

    <div class="Signout">
        <a routerLink="/" routerLinkActive="active">
            <div class="link">
                Sign out
            </div>
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </div>
</div>


<router-outlet></router-outlet>