$dark-grey:#676767;
$shadow-color: #888888;
$theme-color: rgb(0, 115, 255);
.big-container {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;
}

.img-ribbon {
    padding-left: 20px;
}

.img-logo {
    height: 100px;
    padding: 15px;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: auto;
    margin-right: 10px;
}

.welcome-text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.period-selection {
    width: 150px;
    background-color: white;
}

.small-container {
    display: flex;
    border-bottom: 1px solid $dark-grey;
    padding: 10px 10px;
    justify-content: space-between;
}

.link {
    margin: 0 20px;
    color: black;
}

.navbar {
    display: flex;
}

a {
    text-decoration: none;
    display: flex;
}

.Signout {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon {
    padding: 0 5px;
    color: black;
}