<div class="container d-flex justify-content-center align-item-center p-2 my-2">
    <div class="col-md-8 form-group"> 
        <div class="file my-2 w-100">
            <input type="file" id="inputGroupFile" class="form-control" (change)="addfile($event)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">    
            <label class="file-custom" for="inputGroupFile"></label>
        </div>
    </div>   
</div> 

<div class="data">
    <div class="mat-elevation-z8">
        <div class="container d-flex justify-content-end m-2">
            <button class="btn btn-light mx-1" (click) = "openDialog()">
                <i class="bi bi-plus-circle-fill m-1"></i> Shift
            </button>
            <button class="btn btn-danger mx-1" (click) = "doDeleteSelectedShift()">
                Delete Selected ({{selection.selected.length}})
            </button>
            <button class="btn btn-danger mx-1" (click) = "doDeleteAllShift()">
                Delete all ast Shift
            </button>
        </div>
        <mat-form-field class="m-2" style="width: 80%;">
            <mat-label>Assistant</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="retrieveNewShift()">
                <mat-option *ngFor="let assistant of assistants" [value]="assistant.id">
                    {{assistant.initial}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="initial">
                <th mat-header-cell *matHeaderCellDef> Initial </th>
                <td mat-cell *matCellDef="let element"> {{element.assistant.initial}} </td>
            </ng-container>

            <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>

            <ng-container matColumnDef="in">
                <th mat-header-cell *matHeaderCellDef> In </th>
                <td mat-cell *matCellDef="let element"> {{element._in}} </td>
            </ng-container>

            <ng-container matColumnDef="out">
                <th mat-header-cell *matHeaderCellDef> Out </th>
                <td mat-cell *matCellDef="let element"> {{element._out}} </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        
                        <button class="btn btn-warning mx-1" type="button"  (click)="doUpdate(element)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger mx-1" type="button" (click)="doDelete(element.id)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <input type="hidden" value="{{element.id}}" id="Element_ID">
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>
