<div class="d-flex justify-content-center flex-column container">
    <div class="font-weight-bold m-3">Add Holiday</div>
    <form class="d-flex flex-column">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Initial">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name">
        </mat-form-field>

        <button mat-button type="submit" class="submit-button" cdkFocusInitial>Add</button>
    </form>
    
</div>

