<div class="d-flex justify-content-center flex-column container">
    <div class="font-weight-bold m-3">Add Holiday</div>
    <form class="d-flex flex-column" (ngSubmit)="doAddHoliday()">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" [(ngModel)]="description" [formControl]="formDescription">
        </mat-form-field>

        <mat-form-field>    
            <input matInput required [matDatepicker]="picker1" placeholder="Date" [(ngModel)]="date" [formControl]="formDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year"></mat-datepicker>
        </mat-form-field>

        <button mat-button type="submit" class="submit-button" cdkFocusInitial>Add</button>
    </form>
    
</div>

