table {
    width: 90%;
}

.mat-elevation-z8 {
    width: 80vw;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testing{
    width: 500px !important;
}

.data {
    width: 100vw;
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: larger;
}

.bold-str{
    color: grey;
    font-weight: bold;
}

.after-preview{
    padding-bottom: 7vh;
}

.btn{
    padding: 10 40px;
}