<div class="d-flex justify-content-center flex-column container">
    <div class="font-weight-bold m-3">Add Special Shift</div>
    <form class="d-flex flex-column" (ngSubmit)="doAddShift()">
        <mat-form-field class="example-full-width">
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dateStart" placeholder="Choose a date" [(ngModel)]="day" [formControl]="formDay">
            <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
            <mat-datepicker #dateStart></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput name="timeIn" type="time" placeholder="In" [(ngModel)]="timeIn" [formControl]="formTimeIn" step="1">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput name="timeOut" type="time" placeholder="Out" [(ngModel)]="timeOut" [formControl]="formTimeOut" step="1">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Assistants" [(ngModel)]="assistants" [formControl]="formAssistants"></textarea>
        </mat-form-field>
        <div style="font-size: smaller;" class="mb-2">
            Example: <b>'ALL'</b> or <b>'AA00-1'</b> or <b>'AA00-1, AB00-1'</b>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" [(ngModel)]="description" [formControl]="formDescription">
        </mat-form-field>

        <button mat-button type="submit" class="submit-button" cdkFocusInitial>Add</button>

        <div *ngIf="error != null" class="my-1">
            <div class="btn-danger p-1" *ngFor="let item of error">
                <div>{{item}}</div>
            </div>
        </div>
    </form>
    
</div>

